<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-title>Prueba</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio"></ion-back-button>
  </ion-buttons>
  </ion-toolbar>

</ion-header> -->

<ion-content class="ion-padding">

    <ion-grid>
        <ion-row>
            <ion-col size="9" class="message">
                <b>Aca va el ng for</b>
              
                    <ion-button (click)="deleteUsr()">
                      <ion-icon name="trash" ></ion-icon>
                    </ion-button>
               
                <div class="time ion-text-right">
                    <br>
                    <p>hora de creacion</p>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>

<!-- boton lleva scrol al foter -->


<button (click)="scrollTo()">ScrolltoFooter</button>

<div style="overflow: auto; height: 200px;">
<p>
    Lorem ipsum dolor sit amet consectetur
     adipisicing elit. Sapiente quos
      amet sit fuga illum dolorem dolor
       accusantium harum cum quidem,
        inventore adipisci nisi numquam
         dicta et commodi rem, distinctio fugiat?
</p>
<p>
    Lorem ipsum dolor sit amet consectetur
     adipisicing elit. Sapiente quos
      amet sit fuga illum dolorem dolor
       accusantium harum cum quidem,
        inventore adipisci nisi numquam
         dicta et commodi rem, distinctio fugiat?
</p>
 
<p>
    Lorem ipsum dolor sit amet consectetur
     adipisicing elit. Sapiente quos
      amet sit fuga illum dolorem dolor
       accusantium harum cum quidem,
        inventore adipisci nisi numquam
         dicta et commodi rem, distinctio fugiat?
</p>
 
<p>
    Lorem ipsum dolor sit amet consectetur
     adipisicing elit. Sapiente quos
      amet sit fuga illum dolorem dolor
       accusantium harum cum quidem,
        inventore adipisci nisi numquam
         dicta et commodi rem, distinctio fugiat?
</p>
<p>
    Lorem ipsum dolor sit amet consectetur
     adipisicing elit. Sapiente quos
      amet sit fuga illum dolorem dolor
       accusantium harum cum quidem,
        inventore adipisci nisi numquam
         dicta et commodi rem, distinctio fugiat?
</p>
<div class="footer"></div>

</div>


<!-- <script type="text/javascript">
    var midiv = document.getElementById("midiv").offsetTop;
        
        midiv.addEventListener('scroll',mifun);
        function mifun() {
        var sroltop = midiv.scrollTop;
        var myshei = midiv.scrollHeight; 
         
    } 
</script> -->



<!-- <button (click)="scroll(target)">Click to scroll</button> -->







</ion-content>
